
@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
    overflow:  hidden;
    scroll-behavior: smooth;
    height: 100%;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.nabla {
    font-family: "Nabla", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "EDPT" 100,
        "EHLT" 12;
}

body {
    height: 100%;
    background: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);
    background-size: 100% 100%;
    font-family: 'Space Mono', monospace;
    font-weight: 200;
    overflow-x: hidden;
    box-sizing: border-box;
    margin-bottom: 0;
    padding: 0;
}


footer {
    background: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);
    background-size: 100% 100%;
}



p {
    color: #fff;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #fff;
}

nav {
    display: flex;
    margin-top: 1%;
    padding-left: 1%;
}

nav > a {
    padding-left: 1%;
    font-size: 20px;
}

nav > #dot {
    padding-left: 1%;
}

#projectsAccordion {
    margin: 0 auto;
    margin-top: 4%;
    width: 80%;
}

#projectsTitle {
    margin-top: 3%;
    font-size: 7rem;
    text-align: center;
    color: #fff;
}

.accordionLink {
    color: #1670fb;
    text-decoration: none;
}

.accordionLink:hover {
    color: #1670fb;
    text-decoration: underline;
}

#dot {
    color: #fff;
}
