@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One');
@keyframes titleAnimation  {
    from {
      visibility: hidden;
    }
    to {
      visibility: visible;
    }
  }

@keyframes navAnimation {
  from {
    left: -4%;
  }
  to {
    left: 1%
  }
}
* {
  font-family: "Roboto Mono", monospace;
  color: #000000;
  text-align: center;
}

*::-webkit-scrollbar{
    display: none;
  }

.PageTitle {
    animation: titleAnimation 3s;
    font-size: 130px;
    font-family: "Darumadrop One";
}

span {
    font-family: inherit;
}

.ca {
    color: #ECBD4F;
}
.na {
    color: #EAF8BF;
}

.rd {
    color: #87BFFF;
}
#logo {
    width: 170px;
    height: 170px;
    
}


#list {
    font-size: 24px;
    margin-left: -30px
}

div {
    text-align: center;
}

.icon {
    height: 30px;
    width: 30px;
    transition: width 1s, height 1s, transform 0.5s;
}

.icon:hover {
  height: 40px;
  width: 40px;
  transform: rotate(360deg);
}

.grid-item {
    border: 2px solid black;
}

.gridimg {
    width: 100px;
    height: 100px;
}

#title {
    font-size: 40px;
}

#projects{
    width: 90%;
    height: auto;
    margin: 30px auto;
    margin-left: 30px;
    margin-right: 30px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-gap: 80px;
    position: relative;
    left: 56px;
}

.grid-item{
    padding-top: 50px;
    padding-bottom: 10px;
    width: 336px;
    height: 448px;
    box-shadow: 4px 5px 5px 3px rgba(0, 0, 0, 0.25);
    border-style: solid;
    border-radius: 8%;
    transition: width .5s, height .5s;
}

.grid-item:hover{
    width: 370px;
    height: 482px;
}

.projectlink {
    text-decoration: none;
}

#python {
    color: lightgreen;
}

#html {
    color: rgb(255, 57, 57);
}

#css {
    color: lightskyblue;
}

nav {
    animation: navAnimation 2s;
    font-size: 24px;
    text-align: start;
    font-style: bold;
    text-decoration: none;
}

#homeLink:hover {
    color: #ECBD4F;
}

#projectsLink:hover {
    color: #EAF8BF;
}

#newsLink:hover {
    color: #87BFFF
}

#newsTitle {
    font-size: 40px;
}

nav {
    position: fixed;
    overflow: hidden;
}

.article {
    border: 1px solid grey;
    margin: 5em;
}
