@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One');

* {
  font-family: "Roboto Mono", monospace;
  color: #000000;
  text-align: center;
}

#PageTitle {
    font-size: 130px;
    font-family: "Darumadrop One";
}

#mabite {
    width: 500px;
}

span {
    font-family: inherit;
}

#ca {
    color: #ECBD4F;
}
#na {
    color: #EAF8BF;
}

#rd {
    color: #87BFFF;
}
#logo {
    width: 170px;
    height: 170px;
    
}


#list {
    font-size: 24px;
    margin-left: -30px
}

div {
    text-align: center;
}

.icon {
    height: 30px;
    width: 30px;
}

.grid-item {
    border: 2px solid black;
}

.gridimg {
    width: 100px;
    height: 100px;
}

.title {
    font-size: 40px;
    margin-left: 30px;
}

.projects{
    width: 90%;
    height: auto;
    margin: 30px auto;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-gap: 80px;
    position: absolute;
    left: 56px;
}

.grid-item{
    padding-top: 50px;
    padding-bottom: 10px;
    width: 336px;
    height: 448px;
    box-shadow: 4px 5px 5px 3px rgba(0, 0, 0, 0.25);
    border-style: solid;
}

.grid-item:hover{
    padding: 20px;
}

.projectlink {
    text-decoration: none;
}
